In [76]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as sm
import os
import numpy as np
from functools import reduce
import matplotlib as mpl
%matplotlib inline

In [ ]:
pd.set_option('max_colwidth',250)
pd.set_option('display.width',250)

In [12]:
os.chdir('/home/matt/Git/PGIP/src')
os.getcwd()

'/home/matt/Git/PGIP/src'

In [ ]:
import pipeline as PGIP
os.chdir('..')
E = PGIP.Explorer('config/cache')
P = PGIP.Pipeline('config/cache')

In [ ]:
E.readSampleData('sandbox')
E.renameColumns()

In [27]:
df = pd.DataFrame()
for source in E.data:
    data = E.data[source].data
    data['Source'] = source
    df = pd.concat([df,data])

In [28]:
df.shape

(2385, 33)

In [ ]:
df['Month'] = df.apply(P.adders.addMonth,axis=1)

In [80]:
df.Month.isnull().sum()

995

In [79]:
df.Year.isnull().sum()

0

In [ ]:
df['TimeSlice'] = df.apply(P.adders.addTimeSlice,axis = 1)

In [ ]:
df.TimeSlice.isnull().sum()

In [ ]:
df.Issue = df.Issue.apply(P.cleaners.cleanIssue)

In [57]:
df.Volume = df.Volume.apply(P.cleaners.cleanVolume)

In [92]:
def pred(row,params,target):
    
    if pd.isnull(row[target]):
        row.loc['Intercept'] = 1
        row = row[params.index]
        if any([pd.isnull(i) for i in row]):
            return np.nan
        
        p = row*params
        p = round(p.sum(),0)
        
        return int(p)
        
    else:
        return row.loc[target]

In [105]:
codens = df.CODEN.unique()
confidenceThreshold = .6


for code in codens:    
    a = df.loc[df.CODEN == code,['AbbrPubTitle','PublicationTitle','Issue','Volume','Year','Month','TimeSlice']]
    abbrevs = a.AbbrPubTitle.unique()
    titles = a.PublicationTitle.unique()
    
    if len(abbrevs) > 1:
        df.loc[df.AbbrPubTitle.isin(abbrevs) | df.PublicationTitle.isin(titles),'CODEN'] = code
        a = df.loc[df.CODEN == code,['AbbrPubTitle','Issue','Volume','Year','Month','TimeSlice','Source']]
    if a.shape[0] < 2:
        continue
        
    count = a.TimeSlice.isnull().sum()
    #print(count)
    if count == 0:
        continue
    
    if (a.Issue.notnull() & a.Volume.notnull() & a.TimeSlice.notnull()).sum() >= 3:
        imputable = (a.Issue.notnull() & a.Volume.notnull() & a.TimeSlice.isnull()).sum()
        if imputable > 0:
            result = sm.ols(formula="TimeSlice ~ Volume + Issue", data=a).fit()
            target = 'TimeSlice'
    elif (a.Issue.notnull() & a.Month.notnull()).sum() >= 2:
        imputable = (a.Issue.notnull() & a.Month.isnull()).sum()
        if imputable > 0:
            result = sm.ols(formula="Month ~ Issue", data=a).fit()
            target = 'Month'
    elif (a.Volume.notnull() & a.TimeSlice.notnull()).sum() >= 2:
        imputable = (a.Volume.notnull() & a.TimeSlice.isnull()).sum()
        if imputable > 0:
            result = sm.ols(formula="TimeSlice ~ Volume", data=a).fit()
            target = 'TimeSlice'
    else:
        continue
    
    if result.rsquared > confidenceThreshold:
        p = a.apply(pred,axis =1,**{'params':result.params,'target':target})
        a.loc[:,target] = p
        print(a)
        if target == 'Month':
            a.loc[:,'TimeSlice'] = a.apply(lambda row: 12*(row.loc['Year'] - 1990) + row.loc['Month'])

         AbbrPubTitle      PublicationTitle  Issue  Volume  Year  Month  TimeSlice
2    Mar. Biotechnol.  Marine Biotechnology     30      17  2015      6        306
41   Mar. Biotechnol.  Marine Biotechnology    NaN     NaN  2015      5        305
44   Mar. Biotechnol.  Marine Biotechnology     20      17  2015    NaN        304
106  Mar. Biotechnol.  Marine Biotechnology     10      16  2014    NaN        290
137  Mar. Biotechnol.  Marine Biotechnology     20      15  2013    NaN        280
159  Mar. Biotechnol.  Marine Biotechnology     60      14  2012    NaN        276
168  Mar. Biotechnol.  Marine Biotechnology     10      14  2012      2        266
184  Mar. Biotechnol.  Marine Biotechnology     60      15  2013     12        288
187  Mar. Biotechnol.  Marine Biotechnology     20      15  2013    NaN        280
189  Mar. Biotechnol.  Marine Biotechnology     30      15  2013    NaN        282
235  Mar. Biotechnol.  Marine Biotechnology     30      11  2009      6        234
239  Mar. Biotechnol.  Marine Biotechnology     20      13  2011      4        256
600  Mar. Biotechnol.  Marine Biotechnology     10      16  2014    NaN        290
688  Mar. Biotechnol.  Marine Biotechnology    NaN     NaN  2015      5        305

    AbbrPubTitle PublicationTitle  Issue  Volume  Year  Month  TimeSlice
5     Food Chem.   Food Chemistry    NaN     172  2015      4        304
457   Food Chem.   Food Chemistry    NaN     151  2014      5        293
570   Food Chem.   Food Chemistry    NaN     147  2014    NaN        287
588   Food Chem.   Food Chemistry    NaN     172  2014      4        292
608   Food Chem.   Food Chemistry    NaN     190  2016      6        318
657   Food Chem.   Food Chemistry    NaN     176  2015      6        306
658   Food Chem.   Food Chemistry    NaN     176  2015      6        306

       AbbrPubTitle                 PublicationTitle  Issue  Volume  Year  Month  TimeSlice
6    J. Biol. Chem.  Journal of Biological Chemistry    220     290  2015      5        305
32   J. Biol. Chem.  Journal of Biological Chemistry    210     290  2015      5        305
36   J. Biol. Chem.  Journal of Biological Chemistry     20     290  2015      1        301
64   J. Biol. Chem.  Journal of Biological Chemistry    200     289  2014      5        293
148  J. Biol. Chem.  Journal of Biological Chemistry     10     288  2013      1        277
164  J. Biol. Chem.  Journal of Biological Chemistry    460     287  2012     11        275
464  J. Biol. Chem.  Journal of Biological Chemistry    520     289  2014     12        300
486  J. Biol. Chem.  Journal of Biological Chemistry     40     289  2014      1        289
500  J. Biol. Chem.  Journal of Biological Chemistry     90     288  2013      3        279
567  J. Biol. Chem.  Journal of Biological Chemistry    210     289  2014    NaN        293
628  J. Biol. Chem.  Journal of Biological Chemistry    190     290  2015      5        305
653  J. Biol. Chem.  Journal of Biological Chemistry    120     290  2015      3        303
675  J. Biol. Chem.  Journal of Biological Chemistry    170     290  2015      4        304
683  J. Biol. Chem.  Journal of Biological Chemistry    180     290  2015      5        305

                        AbbrPubTitle                                 PublicationTitle  Issue  Volume  Year  Month  TimeSlice
12   World J. Microbiol. Biotechnol.  World Journal of Microbiology and Biotechnology     30      31  2015    NaN        303
54   World J. Microbiol. Biotechnol.  World Journal of Microbiology and Biotechnology     70      30  2014      6        294
77   World J. Microbiol. Biotechnol.  World Journal of Microbiology and Biotechnology     10      30  2014      1        289
115  World J. Microbiol. Biotechnol.  World Journal of Microbiology and Biotechnology     20      30  2014      2        290
210  World J. Microbiol. Biotechnol.  World Journal of Microbiology and Biotechnology    100      27  2011     10        262
401  World J. Microbiol. Biotechnol.  World Journal of Microbiology and Biotechnology     90      29  2013      9        285
439  World J. Microbiol. Biotechnol.  World Journal of Microbiology and Biotechnology    110      30  2014     10        298
538  World J. Microbiol. Biotechnol.  World Journal of Microbiology and Biotechnology     20      30  2014      2        290
558  World J. Microbiol. Biotechnol.  World Journal of Microbiology and Biotechnology    120      30  2014    NaN        299
575  World J. Microbiol. Biotechnol.  World Journal of Microbiology and Biotechnology    NaN     NaN  2014      8        296
582  World J. Microbiol. Biotechnol.  World Journal of Microbiology and Biotechnology     60      30  2014      6        294
691  World J. Microbiol. Biotechnol.  World Journal of Microbiology and Biotechnology    NaN     NaN  2015      2        302

                     AbbrPubTitle                        PublicationTitle  Issue  Volume  Year  Month  TimeSlice
13   Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    NaN     NaN  2015      7        307
68   Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     10      98  2014    NaN        281
72   Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     20      99  2014    NaN        285
81   Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    230      98  2014     11        299
84   Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    120      98  2014      6        294
100  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    210      98  2014    NaN        294
101  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    220      98  2014    NaN        295
104  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    120      98  2014      6        294
107  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     30      99  2014    NaN        286
117  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     10      95  2012      7        271
142  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    110      97  2013      6        282
176  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    180      97  2013      9        285
180  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     40      96  2012     11        275
192  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    150      97  2013      8        284
205  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     60      83  2009      7        235
211  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     10      87  2010      6        246
227  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     40      85  2010      1        241
233  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     60      86  2010      5        245
238  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     10      91  2011      7        259
240  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     60      92  2011     12        264
308  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     80      97  2013      4        280
389  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     20      97  2013      1        277
395  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    180      97  2013      9        285
458  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    230      98  2014     11        299
465  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     20      99  2014    NaN        285
494  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    140      97  2013      7        283
495  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    190      97  2013    NaN        290
501  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    130      97  2013      7        283
504  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     20      97  2013      1        277
524  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     50      98  2014      3        291
554  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     30      99  2014    NaN        286
587  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology     20      99  2014    NaN        285
606  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    190      98  2014    NaN        293
682  Appl. Microbiol. Biotechnol.  Applied Microbiology and Biotechnology    NaN     NaN  2015      7        307

       AbbrPubTitle          PublicationTitle  Issue  Volume  Year  Month  TimeSlice
16   J. Biotechnol.  Journal of Biotechnology    NaN     198  2015      3        303
67   J. Biotechnol.  Journal of Biotechnology    NaN     184  2014      8        296
70   J. Biotechnol.  Journal of Biotechnology    NaN     184  2014      8        296
99   J. Biotechnol.  Journal of Biotechnology    NaN     187  2014     10        298
112  J. Biotechnol.  Journal of Biotechnology    NaN     189  2014     11        299
130  J. Biotechnol.  Journal of Biotechnology     10     168  2013    NaN        286
149  J. Biotechnol.  Journal of Biotechnology     30     166  2013      7        283
203  J. Biotechnol.  Journal of Biotechnology     40     148  2010      8        248
225  J. Biotechnol.  Journal of Biotechnology     30     135  2008      6        222

                  AbbrPubTitle                        PublicationTitle  Issue  Volume  Year  Month  TimeSlice
18   Appl. Environ. Microbiol.  Applied and Environmental Microbiology     30      81  2015    NaN        302
40   Appl. Environ. Microbiol.  Applied and Environmental Microbiology     70      81  2015    NaN        304
91   Appl. Environ. Microbiol.  Applied and Environmental Microbiology    170      80  2014      9        297
95   Appl. Environ. Microbiol.  Applied and Environmental Microbiology     30      80  2014      2        290
146  Appl. Environ. Microbiol.  Applied and Environmental Microbiology     90      79  2013      5        281
171  Appl. Environ. Microbiol.  Applied and Environmental Microbiology     40      78  2012      2        266
253  Appl. Environ. Microbiol.  Applied and Environmental Microbiology     10      72  2006      1        193
258  Appl. Environ. Microbiol.  Applied and Environmental Microbiology     10      72  2006      1        193
480  Appl. Environ. Microbiol.  Applied and Environmental Microbiology    130      80  2014    NaN        295
492  Appl. Environ. Microbiol.  Applied and Environmental Microbiology     10      79  2013      1        277
591  Appl. Environ. Microbiol.  Applied and Environmental Microbiology     90      80  2014      5        293
620  Appl. Environ. Microbiol.  Applied and Environmental Microbiology     10      81  2015    NaN        301

         AbbrPubTitle        PublicationTitle  Issue  Volume  Year  Month  TimeSlice
128  Biotechnol. Adv.  Biotechnology Advances     60      31  2013     11        287
151  Biotechnol. Adv.  Biotechnology Advances     20      31  2013      3        279
163  Biotechnol. Adv.  Biotechnology Advances     80      31  2013     12        288
397  Biotechnol. Adv.  Biotechnology Advances     80      31  2013     12        288
459  Biotechnol. Adv.  Biotechnology Advances     60      32  2014    NaN        295
507  Biotechnol. Adv.  Biotechnology Advances     60      31  2013     11        287

            AbbrPubTitle                  PublicationTitle  Issue  Volume  Year  Month  TimeSlice
154  Theor. Appl. Genet.  Theoretical and Applied Genetics     50     124  2012    NaN        267
173  Theor. Appl. Genet.  Theoretical and Applied Genetics     50     126  2013    NaN        280
182  Theor. Appl. Genet.  Theoretical and Applied Genetics     60     125  2012     10        274
186  Theor. Appl. Genet.  Theoretical and Applied Genetics     30     124  2012    NaN        266
209  Theor. Appl. Genet.  Theoretical and Applied Genetics     10     119  2009      6        234
213  Theor. Appl. Genet.  Theoretical and Applied Genetics     30     123  2011      8        260

          AbbrPubTitle           PublicationTitle  Issue  Volume  Year  Month  TimeSlice
237  Mass Spectrom Rev  Mass Spectrometry Reviews     60      27  2008     11        227
289  Mass Spectrom Rev  Mass Spectrometry Reviews     40      32  2013      7        283
306  Mass Spectrom Rev  Mass Spectrometry Reviews     50      32  2013      9        285
487  Mass Spectrom Rev  Mass Spectrometry Reviews    NaN     NaN  2014    NaN        NaN
552  Mass Spectrom Rev  Mass Spectrometry Reviews    NaN     NaN  2014    NaN        NaN

     AbbrPubTitle               PublicationTitle  Issue  Volume  Year  Month  TimeSlice
276  J. Sep. Sci.  Journal of Separation Science    130      36  2013      7        283
281  J. Sep. Sci.  Journal of Separation Science    180      36  2013      9        285
505  J. Sep. Sci.  Journal of Separation Science     30      36  2013      2        278
603  J. Sep. Sci.  Journal of Separation Science    120      37  2014    NaN        294
702  J. Sep. Sci.  Journal of Separation Science    220      37  2014     11        299

         AbbrPubTitle        PublicationTitle  Issue  Volume  Year  Month  TimeSlice
301  Anal. Chim. Acta  Analytica Chimica Acta    NaN     774  2013      4        280
317  Anal. Chim. Acta  Analytica Chimica Acta    NaN     788  2013      7        283
421  Anal. Chim. Acta  Analytica Chimica Acta    NaN     829  2014      6        294
517  Anal. Chim. Acta  Analytica Chimica Acta    NaN     852  2014     12        300
536  Anal. Chim. Acta  Analytica Chimica Acta     10     826  2014    NaN        293
541  Anal. Chim. Acta  Analytica Chimica Acta     10     834  2014    NaN        295
586  Anal. Chim. Acta  Analytica Chimica Acta    NaN     834  2014    NaN        295
607  Anal. Chim. Acta  Analytica Chimica Acta    NaN     826  2014    NaN        293
624  Anal. Chim. Acta  Analytica Chimica Acta    NaN     871  2015      4        304
647  Anal. Chim. Acta  Analytica Chimica Acta     10     863  2015    NaN        302
674  Anal. Chim. Acta  Analytica Chimica Acta    NaN     880  2015      6        306

             AbbrPubTitle                        PublicationTitle  Issue  Volume  Year  Month  TimeSlice
316  Anal. Bioanal. Chem.  Analytical and Bioanalytical Chemistry     10     406  2013      1        277
356  Anal. Bioanal. Chem.  Analytical and Bioanalytical Chemistry    160     405  2013      6        282
406  Anal. Bioanal. Chem.  Analytical and Bioanalytical Chemistry    170     405  2013      7        283
409  Anal. Bioanal. Chem.  Analytical and Bioanalytical Chemistry     30     407  2014     10        298
530  Anal. Bioanal. Chem.  Analytical and Bioanalytical Chemistry    130     406  2014      5        293
542  Anal. Bioanal. Chem.  Analytical and Bioanalytical Chemistry    250     406  2014    NaN        306
566  Anal. Bioanal. Chem.  Analytical and Bioanalytical Chemistry    170     406  2014      7        295
577  Anal. Bioanal. Chem.  Analytical and Bioanalytical Chemistry    170     406  2014      7        295
684  Anal. Bioanal. Chem.  Analytical and Bioanalytical Chemistry     70     407  2015      2        302

          AbbrPubTitle                          PublicationTitle  Issue  Volume  Year  Month  TimeSlice
405  J. Am. Chem. Soc.  Journal of the American Chemical Society    190     135  2013      5        281
508  J. Am. Chem. Soc.  Journal of the American Chemical Society    340     136  2014    NaN        301
511  J. Am. Chem. Soc.  Journal of the American Chemical Society     90     136  2014      3        291
543  J. Am. Chem. Soc.  Journal of the American Chemical Society    340     136  2014      8        296
602  J. Am. Chem. Soc.  Journal of the American Chemical Society     80     136  2014      2        290
656  J. Am. Chem. Soc.  Journal of the American Chemical Society    500     136  2015     12        312

In [103]:
a.

Int64Index([2, 41, 44, 106, 137, 159, 168, 184, 187, 189, 235, 239, 600, 688], dtype='int64')

In [69]:
result.params.index

Index(['Intercept', 'Volume', 'Issue'], dtype='object')

In [39]:

    #print(a)
    if (a.Issue.notnull() & a.Volume.notnull() & a.month.notnull()).sum() >= 3:
        if (a.Issue.notnull() & a.Volume.notnull() & a.month.isnull()).sum() > 0:
            result = LinearRegression()
            #print(a)
            #result.fit(a.loc[a.Issue.notnull() & a.Volume.notnull() & a.month.isnull(),['Issue','Volume']],a.loc[a.Issue.notnull() & a.Volume.notnull() & a.month.isnull(),'month'])
            print('sad')
            #a.loc[:,'month'] = result.predict()
            #print(result.predict(a.loc[(a.Issue.notnull() & a.Volume.notnull() & a.Month.isnull()),:]))
    elif (a.Issue.notnull() & a.Month.notnull()).sum() >= 2:
        if (a.Issue.notnull() & a.Month.isnull()).sum() > 0:
            #result = sm.ols(formula="Month ~ Issue", data=a).fit()
            print('soup')
            print(result.rsquared)
            a.loc[:,['Month']] = a.apply(pred,(result.params,'Month'))
    elif (a.Volume.notnull() & a.month.notnull()).sum() >= 2:
        if (a.Volume.notnull() & a.month.isnull()).sum() > 0:
            #result = sm.ols(formula="month ~ Volume", data=a).fit()
            print('laf')
            print(result.rsquared)
            #a.loc[:,'month'] = result.predict()
    else:
        continue

IndentationError: unexpected indent (<ipython-input-39-b35025a86a67>, line 3)

True

In [109]:
def imputeCODEN(connection,table,recordID=None):
    if not recordID:
        recordID = 'ROWID'
    columns = [recordID,'CODEN','AbbrPubTitle','PublicationTitle']
    columnString = ', '.join(columns)

    codens = connection.execute('SELECT DISTINCT CODEN FROM {0}'.format(table)).fetchall()
    codens = list(next(zip(*codens)))
    
    for code in codens:
        
        command = 'SELECT {0} FROM {1} WHERE CODEN = "{3}"'.format(columnString,table,code)
        df = connection.execute(command).fetchall()
        df = pd.DataFrame(df,columns = columns)
        
        abbrevs = list(df.AbbrPubTitle.unique())
        titles = list(df.PublicationTitle.unique())

        if len(abbrevs) > 1 or len(titles) > 1:
            # Update the db
            abbrString = '"' + '","'.join(abbrevs) + '"'
            titleString = '"' + '", "'.join(titles) + '"'
            
            command = ('UPDATE {0} SET CODEN = "{1}" ' +
                      'WHERE AbbrPubTitle IN ({2}) ' +
                      'OR PublicationTitle IN ({3})').format(table,code,abbrString,titleString)
            
            mem.execute(command)
        

def imputeTimeSlice(connection,table,recordID=None,confidenceThreshold = .6):
    if not recordID:
        recordID = 'ROWID'
    columns = [recordID,'Issue','Volume','Year','Month','TimeSlice']
    columnString = ', '.join(columns)
        
    codens = connection.execute('SELECT DISTINCT CODEN FROM {0}'.format(table)).fetchall()
    codens = list(next(zip(*codens)))
    
    for code in codens:
        command = 'SELECT {0} FROM {1} WHERE CODEN = "{3}"'.format(columnString,table,code)
        df = connection.execute(command).fetchall()
        df = pd.DataFrame(df,columns = columns) 

        if df.Timeslice.isnull().sum() == 0 or df.shape[0] < 2:
            continue     
        
        df = imputeTimeSliceSample(df)
        df = df[df.imputed,[recordID,'Month','TimeSlice']]
        df = df.setindex(recordID)
        
        for i in df.index:
            command = ('UPDATE {0} SET Month = {1}, TimeSlice = {2} ' + 
                      'WHERE {3} = {4}').format(table,df.loc[i,'Month'],df.loc[i,'TimeSlice'],recordID = i)
            connection.execute(command)
            
        


def imputeTimeSliceSample(dataframe):
        a = dataframe
        a.loc[:,'imputed'] = False
        initial = a.loc[:,'TimeSlice']
        
        if a.shape[0] < 2:
            return a
            
        if (a.Issue.notnull() & a.Volume.notnull() & a.TimeSlice.notnull()).sum() >= 3:
            imputable = (a.Issue.notnull() & a.Volume.notnull() & a.TimeSlice.isnull()).sum()
            if imputable > 0:
                result = sm.ols(formula="TimeSlice ~ Volume + Issue", data=a).fit()
                target = 'TimeSlice'
        elif (a.Issue.notnull() & a.Month.notnull()).sum() >= 2:
            imputable = (a.Issue.notnull() & a.Month.isnull()).sum()
            if imputable > 0:
                result = sm.ols(formula="Month ~ Issue", data=a).fit()
                target = 'Month'
        elif (a.Volume.notnull() & a.TimeSlice.notnull()).sum() >= 2:
            imputable = (a.Volume.notnull() & a.TimeSlice.isnull()).sum()
            if imputable > 0:
                result = sm.ols(formula="TimeSlice ~ Volume", data=a).fit()
                target = 'TimeSlice'
        else:
            return a
        
        if result.rsquared > confidenceThreshold:
            p = a.apply(pred,axis =1,**{'params':result.params,'target':target})
            a.loc[:,target] = p
            print(a)
            if target == 'Month':
                a.loc[:,'TimeSlice'] = a.apply(lambda row: 12*(row.loc['Year'] - 1990) + row.loc['Month'])
            
            a.loc[:,'imputed'] = a.TimeSlice != initial
        
        return imputed

In [110]:
os.getcwd()

'/home/matt/Git/PGIP'

In [111]:
c = alchemy.create_engine('sqlite3:////database/main.db')

NameError: name 'alchemy' is not defined